{% extends "layout.html" %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Category</h2>
            {% for category in categories %}
            <div class="row">
                <div class="col">
                    <a href="/category/{{ category.id }}">{{ category.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col">
            <h2>Items</h2>
            {% for item in items %}
            <div class="row">
                <div class="col">
                    <a href="/category/{{ item.cat_id }}/{{ item.title}}">{{ item.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}